$beige: #E6E2AF;
$forestgreen: #002F2F;
$pinkred: #C84663;
$lightsand: #EFECCA;
$darksand: #A7A37E;
$brownish: #2d3133;
$darkpurple: #301924;
$lightgray: #656782;
$darkgray: #434653;
$darkgreen: #325A40;
$lightgreen: #81CB75;
