@media screen and(max-width: 450px){
  .headerColor {
    font-size: 1.50em;
  }
}
@media screen and(max-width: 450px){
  .fontColorClass {
    text-align: center;
  }
}
@media screen and(max-width: 450px){
  #listLeft {
    margin: 0 20vw 0 20vw;
    float: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media screen and(max-width: 450px){
  #listRight{
    padding-top: 0;
    margin: 0 20vw 0 20vw;
    float: none;
  }
}
@media screen and(max-width: 450px){
  #schoolmajor {
    text-align: center;
  }
}
@media screen and(max-width: 800px){
  body{
    overflow: auto;
  }
}

@media screen and(max-width: 800px){
  #right{
    padding: 0 1vw 0 1vw;
    margin-top: 0vh;
    display: block;
    clear: both;
    float: none;
    width: 100vw;
  }
}
@media screen and(max-width: 800px){
  #left{
    background-size: 100vw 100vh;
    display: block;
    clear: both;
    float: none;
    width: 100vw;
  }
}
@media screen and(max-width: 800px){
  #aboutButton{
    clear: both;
  }
}
