body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    background: #656782;
}

a {
  color: #00B7FF;
}
#myName{
  font-size: 4em;
  font-family: 'Balthazar';
  color: $darkpurple;
}
#title{
  font-family: 'Balthazar';
  color: $lightsand;
}
#left{
  background-image: url("recent.jpg");
  background-size: 50vw 100vh;
  height: 100vh;
  display: inline-block;
  text-align: center;
  width: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.jeffInfo{
  text-align: center;
  color: $forestgreen;
  &:hover {
    color: $lightsand;
  }
}
#right{
  margin-top: 11vh;
  display: flex;
  overflow-y: auto !important;
  /*justify-content: center;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  /*padding-right: 10vw;*/
  width: 50%;
}

.projectLinks {
  // margin-left: 43%;
  font-size: 1.25em;
  color: $lightgreen;
  &:hover {
    color: #00B7FF;
  }
}
.fontColorClass {
  color: $darkpurple;
  padding: 0 1.5em 0 1.5em;
  text-align: justify;
}
#educationInfo{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#rusWords {
  &:hover {
    span {
      display: none;
    }
    &:before {
      content: "Я говорю немного по-русски!";
      color: #EFECCA;
    }
  }
}
#portfolioInfo{
  padding-right: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#listLeft {
  display: inline-block;
  float: left;
}
#listRight {
  display: inline-block;
  float: right;
}
.headerColor {
  color: $lightgreen;
}
.techList {
  font-size: 1.75em;
  color: $darkpurple;
}
.liEle{
  &:hover {
    color: $lightgreen;
  }
}
