
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: $lightgray;
}

a {
  color: #00B7FF;
}
#myName{
  font-size: 4em;
  font-family: 'Balthazar';
  color: $lightsand;
  &:hover {
    color: $darkpurple;
  }
}
#title{
  font-family: 'Balthazar';
  color: $lightsand;
}
#picturesOfMe{
  height: 40%;
  width: 40%;
  border-radius: 30%;
}
#left{
  display: inline-block;
  text-align: center;
  width: 50%;
  margin-bottom: 20px;
}
.jeffInfo{
  text-align: center;
  color: $forestgreen;
  &:hover {
    color: $lightsand;
  }
}
#right{
  margin-top: 20vh;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  /*padding-right: 10vw;*/
  width: 50%;
}

.projectLinks {
  // margin-left: 43%;
  font-size: 1.25em;
  color: $lightgreen;
  &:hover {
    color: #00B7FF;
  }
}
.fontColorClass {
  color: $darkpurple;
  padding-right: 4px;
  text-align: justify;
}
#educationInfo{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#portfolioInfo{
  padding-right: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#experienceInfo{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.headerColor {
  color: $lightgreen;
}
.techList {
  font-size: 1.75em;
  color: $darkpurple;
}
.liEle{
  &:hover {
    color: $lightgreen;
  }
}
